*{
    padding: 0;
    margin: 0;
text-decoration: none;
list-style: none;

}

body{height: 100vh;width: 100%;position: fixed;}


    nav{height: 90px;
        
        background-color: rgb(70, 70, 70);}

    nav ul{float: right;left: -100%;}
    nav ul li{display: inline-block;
        background-color: dimgray;
    border: 1px solid white;border-radius: 50px;
    padding: 20px;margin-top: 0.5em;
    }


    nav ul li a{color: black;font-size: 30px;font-weight: bold;
        font-family: 'Times New Roman';}
        nav ul li a:hover{color: var(--second-color);}
        nav ul li:hover{background-color: orangered;}



        .active{background-color: dimgray;}
    .logo{font-size: 70px;
        text-align: center;
        font-weight: bolder;
        color: black;
        font-family: cursive;
        text-transform: capitalize;
        margin-left: 6%;
        line-height: 100px;}



        .logo:hover{color: white;

        }

        #check{display: none;}
     
        .btn{display: none;font-size: 40px;float: right;
            margin:20px;cursor: pointer;
            }
            .btn:hover{color: white;}

      


        
        @media (max-width:1115px)

        {
           #check:checked ~ ul{width: 100%;left:0;}
           .btn{display: block;}
           nav ul{width: 100%;
               position: fixed;
           background-color: black;}
           nav ul li{display: block;text-align: center;}
       
   }





   .about-us-image{width: 100%;height: 30%;}
   .about-us-image img{width: 100%;object-fit: fill;}

